.photo-dump {
    position: relative;
    width: 50%;
    height: calc(100vh - 70px);
    overflow: hidden;
}

.photo {
    position: absolute;
    cursor: grab;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    transition: box-shadow 0.3s, transform 0.3s;
}

.photo:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.photo:active {
    cursor: grabbing;
}

.photo img {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: auto;
    pointer-events: none; /* Allows dragging without interfering with click */
}

body {
    cursor: auto;
    background-image: url('https://images.unsplash.com/photo-1543180896-d30121f77615?q=80&w=2054&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-color: #2c3e50;
}
